/** @format */

button {
  cursor: pointer;
  animation: var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
}
