/**
 * /* ----------------------------
 *
 * @format
 */

/* Reset */
/* ---------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* set up the body */
body {
  /* body should cover the page */
  font-family: var(--font-mono);
  font-size: var(--font-size-fluid-1);
  color: var(--text1);
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;

  min-height: 100vh;
  /** depends on the use case here, this is for performance */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* making images easier to work with */
/* make it fluid by default */
img,
picture {
  max-width: 100%;
  display: block;
}

/* makes font easier */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
