/**
 * 
 *
 * @format
 */

/* ----------------------------
/* Utility Classes */
/* ---------------------------- */

/* general classes */

.flex {
  display: flex;
  /* css variable with a fallback of 1rem */
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  /* css variable with a fallback of 1rem */
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

/* class for screen reading only, hide few things that can only be picked up by */
/* screen readers. */
/* ACCESSIBILITY */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
