---
import '../styles/global.css';
import '../styles/reset.css';
import '../styles/utilities.css';
import '../styles/components.css';
import Header from '../components/Header';
import Footer from '../components/Footer';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stuff by Joel D'Souza</title>
  </head>
  <body>
    <Header>header</Header>
    <h1>Hello</h1>
    <Footer>footer</Footer>
  </body>
</html>
